.app-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
}

.input-container {
  margin-bottom: 20px;
}

  .input-container input {
    display: inline-block;
    padding: 5px;
    margin-right: 10px;
  }

  .input-container button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }

.item-list {
  list-style-type: none;
  padding: 0;
  display: inline-block;
}

  .item-list li {
    display: block;
    width: 275px;
     justify-content: space-between;
    word-wrap: break-word;
    margin-bottom: 5px;
    border: 1px solid black;
    outline-style: solid;
    outline-color: green;
    outline-width: thin;
  }


.delete {
  background-color: lightpink; 
  color: black;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

  .delete:hover {
    background-color: orangered; 
  }

.edit {
  background-color: lightskyblue;
  color: black;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.edit:hover {
  background-color:dodgerblue;
}
