.app-container {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
  white-space: pre-line;
}

.input-container {
  margin-bottom: 10px;
  text-align: center;
}

.h1 {
  font-family: 'Segoe UI Variable Display';
}

.input-container input {
  margin-right: 10px;
  background-color: #758c3c59;
}

.item-list {
  list-style-type: none;
  padding: 0;
}

  .item-list li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }

    .item-list li input {
      flex: 1;
      max-width: 100%;
      margin-right: 10px;
      padding: 5px;
      margin-right: 20px;
      background-color: #b7a36b69;
      word-wrap: break-word;
      white-space: pre-wrap;
      display: inline-block;
    }

.delete {
  background-color: #b0432f;
  color: black;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  margin-right: 20px;
  border-radius: 15px;
}

  .delete:hover {
    background-color: red;
  }

.edit-btn {
  background-color: #8fd05d;
  color: black;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  margin-right: 20px;
  border-radius: 15px;
}

  .edit-btn:hover {
    background-color: green;
  }
